<app-hero
  id="hero"
  imageSrc="/hero-bg.jpg"
  imageAlt="Background image that shows a motorcycle"
>
  <div
    class="flex flex-col justify-start pt-20 align-middle gap-4 text-white h-dvh max-h-dvh md:gap-16"
  >
    <div class="flex flex-col justify-center text-center gap-5 mx-5 md:mx-7">
      <h1
        class="font-bricolage-grotesque text-6xl text-shadow-xl leading-none tracking-tight lg:text-8xl"
      >
        Discover. Compare. Ride.
      </h1>
      <p
        class="font-bricolage-grotesque text-shadow leading-none tracking-tight md:text-3xl"
      >
        Your utlimate motorcycle comparison tool
      </p>
    </div>
    <div class="flex flex-row self-center justify-center items-center gap-3">
      <button
        [ngClass]="compareModality === 'compare' ? 'btn-active' : 'btn'"
        (click)="changeModality('compare')"
      >
        Compare
      </button>
      <button
        [ngClass]="compareModality === 'search' ? 'btn-active' : 'btn'"
        (click)="changeModality('search')"
      >
        Search
      </button>
    </div>
    <div
      class="w-[348px] p-fluid self-center flex flex-col gap-2 justify-center max-w-[500px] md:w-full md:px-7"
    >
      <app-search-input />
      @if (selectedTotal > 0 && compareModality === 'compare') {
      <div class="w-full p-fluid">
        <app-search-input />
      </div>
      } @if (selectedTotal > 1 || (compareModality === 'search' &&
      selectedTotal=== 1)) {
      <p-button
        pRipple
        [rounded]="true"
        (onClick)="onCompare()"
        class="w-fit self-center"
        [label]="compareModality === 'search' ? 'Search' : 'Compare'"
      />
      }
    </div>
  </div>
</app-hero>
<div class="px-5 md:px-24 lg:px-44">
  <section id="discover" class="h-auto flex items-center">
    <app-fade-in-animation class="py-20">
      <app-mat-card
        [imageProps]="{
          url: 'harley-davidson-passage-unsplash.jpg',
          alt: 'A guy sitting in a motorcycle looking at the scenery'
        }"
      >
        <div class="flex flex-col gap-4 text-slate-800">
          <h1>Discover Your Ideal Ride</h1>
          <span class="text-slate-500 flex flex-col gap-2">
            <p>
              With our powerful comparison tool, you can
              <b>quickly compare or search different motorcycles</b>.
            </p>
            <p>
              Whether you're a seasoned rider or a first-time buyer,
              <b>we make it easy to find the perfect motorcycle</b> for your
              needs.
            </p>
          </span>
        </div>
      </app-mat-card>
    </app-fade-in-animation>
  </section>
  <section id="how-it-works" class="flex flex-col gap-6 pb-10">
    <h1 class="text-slate-800 underline">How it works</h1>
    <div class="flex flex-col gap-5 lg:flex-row">
      <div class="card">
        <h3 class="text-slate-800 font-bold">Step 1: Pick Mode</h3>
        <p>Start by selecting between two modes:</p>
        <ul>
          <li>
            <b>Search Mode:</b> If you're looking to explore a single motorcycle
            in detail, choose "Search." You'll be able to enter a specific
            motorcycle model and get comprehensive information about it.
          </li>
          <li>
            <b>Compare Mode:</b> If you're undecided and want to compare
            multiple motorcycles side-by-side, select "Compare." You can then
            add up to three motorcycles for a direct comparison of features,
            specifications, and performance.
          </li>
        </ul>
      </div>
      <div class="card">
        <h3 class="text-slate-800 font-bold">Step 2: Search the motorcycle</h3>
        <p>
          Once you've selected your mode, start typing the model or make of the
          motorcycle you're interested in. Our intelligent search will suggest
          relevant options as you type, making it easy to find the exact
          motorcycle you’re looking for. If you're in Compare Mode, you can add
          up to three motorcycles to your comparison list.
        </p>
      </div>
      <div class="card">
        <h3 class="text-slate-800 font-bold">
          Step 3: Visualize the information
        </h3>
        <ul>
          <li>
            <b>Search Mode</b>, you'll get a detailed overview of the
            motorcycle, including specifications, performance stats, design
            features, and more.
          </li>
          <li>
            <b>In Compare Mode</b>, you’ll see a side-by-side comparison of your
            selected motorcycles, making it easy to identify the differences in
            engine power, comfort, design, and price.
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<p-scrollTop />
