button {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-family: inherit;
  cursor: pointer;
}

h1, p {
  margin: 0;
}

.btn {
  @apply px-5 py-1 text-xs leading-tight border-2 text-white font-bold border-white rounded-2xl
  shadow-2xl tracking-wide uppercase bg-white bg-opacity-30 outline-none md:py-2 md:px-8 md:text-base
  hover:bg-opacity-40;
}

.btn-active {
  @apply px-5 py-1 text-xs leading-tight border-2 text-slate-800 font-bold border-white rounded-2xl
  shadow-2xl tracking-wide uppercase bg-white outline-none md:py-2 md:px-8 md:text-base hover:bg-slate-200;
}

.card {
 @apply rounded-2xl shadow-lg text-slate-500 px-5 py-4 xl:max-w-[350px];
 border: 2px solid rgba(100, 116, 139, 0.126);
}
